html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;

}

body {
    color: #333333;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #838996;
}


/* header */
.container {
    width: 1200px;
    margin: 0 auto;
}

.head-list {
    background-color: #f5f5f5;
    height: 65px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.header-logo {
    font-size: 30px;
    font-family: serif;
    float: left;
    padding-top: 8px;
    padding-left: 10px;
}

.header-lists {
    float: left;
    padding-left: 100px;
    margin-top: 20px;
    
}

.header-lists li {
    display: inline-block;
    margin-right: 45px;
}

.contents {
    margin-top: 65px;
}

.channel li {
    list-style-type: disc;
}

.channel ul {
    padding-left: 20px;
}