p {
	color: navy;
}

p.info {
	font-size: 10pt;
}

h1 {
	color: white;
	text-shadow: 1px 3px 10px navy;
}

h2 {
	margin: 5px;
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	flex-direction: row;
	width: 1024px;
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf;
	height: 200px;
	margin: 5px;
}

div#zentai > div > h2 {
	font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(0.25turn, white, #ffefaf);
}

div#zentai > div > img {
	float: right;
}


.info {
	font-size: small;
	background-color: #dfdfdf;
}

